@font-face{
	font-family:'Jonathas';
	src:url(../fontes/latobold.ttf);
}
@font-face{
	font-family:'Jon';
	src:url(../fontes/latolight.ttf);
}
*{
	padding:0;
	margin:0;
}
#topo{
	display:grid;
	grid-template-columns:30% 40%;
	background-color:#7A0707;
	border-bottom:2px solid black;
	height:180px;
}
#topo img{
	grid-column:1/2;
	height:150px;
	width:150px;
	display:block;
	margin:auto;
}
.menu ul{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100%;
	list-style:none;
}
.menu a{
	color:white;
	text-decoration:none;
	font-size:20px;
}
.menu li:hover{
	border-bottom:5px solid white;
}
header img{
	grid-column:1/2;
	width:140px;
}
main img{
	border-bottom:1px solid black;
}
#sec{
	padding-top:3rem;
	font-family:Jonathas;
	color:#4F1004;
	text-align:center;
	font-size:20px;
	text-decoration:underline solid red 2px;
}
.img1{
	padding-top:4rem;
	display:grid;
	grid-template-columns:128%;
	grid-column:2/3;
	width:100%;
}
#imagem2{
	grid-template-rows:100% 100% 100% 100% 100%;
	grid-row:3/4;
	padding-top:4rem;
	grid-column:2/3;
}
#img3{
	grid-template-rows:100%;
	grid-row:4/5;
	padding-top:4rem;
	grid-column:2/3;
}
#img4{
	grid-template-rows:100%;
	grid-row:2/3;
	padding-top:4rem;
	grid-column:2/3;
}
#frase h3{
	padding-top:5rem;
	font-size:25px;
	color:red;
	text-align:center;
	display:grid;
	grid-template-columns:340% 220%;
	font-family:Jon;
	color:#901D07;
}
#frase1 h1{
	color:#4F1004;
	font-family:Jonathas;
	font-size:30px;
	text-align:center;
	display:grid;
	grid-template-columns:340% 220%;
	padding-top:0.3rem;
}
#img5{
	grid-template-rows:100%;
	grid-row:6/7;
	padding-top:4rem;
	grid-column:2/3;
}
#img6{
	grid-template-rows:100%;
	grid-row:7/8;
	padding-top:4rem;
	grid-column:2/3;
}
#img7{
	grid-template-rows:100%;
	grid-row:9/10;
	padding-top:4rem;
	grid-column:2/3;
}
#img8{
	grid-template-rows:100%;
	grid-row:11/12;
	padding-top:4rem;
	grid-column:2/3;
}
section h3{
	color:black;
}
#imagem2 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:200px;
	padding-right:40px;
	padding-top:0.3rem;
}
#img3 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:50px;
	padding-top:0.3rem;
}
#img4 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#img5 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#img6 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#img7 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#img8 h3{
	display:grid;
	grid-template-columns:50% 50% 50% 50%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#nome{
	display:grid;
	grid-template-columns:20% 20%;
	grid-column:2/3;
	text-align:center;
	padding-left:80px;
	padding-top:0.3rem;
}
#carrinho{
	grid-column:2/3;
}
body{
	background-image:url(../imagens/plano.jpg);
}
